.Main_title{
  background: -webkit-linear-gradient(  #61a9da 40%, #6dc394);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.bg_gradient{
  background-image: linear-gradient(to left , #6dc394, #afd9f5);
}
